{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="container">
  <section class="text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Даниил Паутов</h1>
        <p class="lead text-muted">Привет! На момент создания этого учебного проекта я только начинаю свой путь в разработке, поэтому расскажу о других сферах своей жизни.</p>
      </div>
    </div>
  </section>
  <div class="album">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            {% thumbnail "https://i.ibb.co/HT4n0WJ/IMG-1196.jpg" "500" crop="center" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
            <div class="card-body">
              <p class="card-text">
                В апреле 2022, после прочтения "Девушки, которая читала в метро" Кристин Фере-Флерн, 
                я полюбил читать книги. 📚 Хоть концовка у этой книги скучная, но само 
                содержание меня очень вдохновило. 
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            {% thumbnail "https://i.ibb.co/xFT6PYW/IMG-4125.jpg" "500" crop="center" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
            <div class="card-body">
              <p class="card-text">
                Я болен бронхиальной астмой, но чувствую себя лучше некоторых здоровых людей. 
                Дело в том, что я занимаюсь спортом: 2 раза в неделю посещаю бассейн. 
                🏊 Ещё очень люблю длинные прогулки с охотой за красивыми видами. 📸
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            {% thumbnail "https://i.ibb.co/dbCd8zw/IMG-4414.jpg" "500" crop="center" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
            <div class="card-body">
              <p class="card-text">
                Обожаю готовить, мне нравится смотреть, как люди едят мою еду, а потом говорят, 
                что это было очень вкусно. Но и сам я не против вкусно поесть, ха-ха. 
                😅 Моё любимое блюдо - куриные крылышки с овощами на пару.)
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}