{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h1>Вот что я умею</h1>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          SQL
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          HTML, CSS
        </li>
        <li class="list-group-item">
          Unittest
        </li>
        <li class="list-group-item">
          django-debug-toolbar
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>Этот учебный проект про форум писателей. На нём я осваивал фреймворк Django.</p>
      <p>
        Сначала я узнал, что такое базы данных и научился понимать язык SQL, писать на нём запросы. 
      </p>
      <p>
        Позже я познакомился с правилами HTML-оформления, работой шаблонов в Django и настроил отображение первых страниц проекта. 
        Также я познакомился с Django ORM, научился создавать модели: посты, пользователи и т.д. 
        Познакомился с CBV (class base views) и использовал их для страниц регистрации, авторизации и др. 
        Настроил эмуляцию почтового сервера.
      </p>
      <p>
        Я освоил создание и отображение форм. 
        Вместе с этим я узнал про контекст-процессоры, например, я скрывал некоторые элементы страницы с помощью .is_authenticated,
        и написал свой кастомный контекст-процессор для отображения актуального года. 
        Написал фильтр addclass, который добавляет класс к HTML-тегу, его я использовал для input в формах, чтобы указать 'form-control'.
        Познакомился с декораторами, включая @login_required.
      </p>
      <p>
        Как-то грустно, когда посты лежат в БД и их никто не видит, поэтому я добавил возможность переключения страниц с помощью Paginator.
      </p>
      <p>
        Я разобрался в работе Unittest, узнал, как тестировать проект Django. 
        Познакомился с методом TDD (Test Driven Development), попробовал им воспользоваться. 
      </p>
      <p>
        Добавил картинки к постам, а для отображения использовал sorl-thumbnail. Реализовал подписки на авторов, комментарии к записям, к этому моменту, 
        на мой взгляд, я стал лучше понимать тестирование. 
      </p>
      <p>
        В конце я пришёл к рефакторингу, кэшированию и оптимизации. Узнал основные принципы, которым стоит следовать при рефакторинге: DRY, KISS, YAGNI. 
      </p>
      <p>
        Здесь будет что-то про django-debug-toolbar.
      </p>
      <p>
        Мне нравится, что я сделал. Надеюсь, я достигну большего. Спасибо за внимание!)
      </p>
    </article>
  </div>
</div>
{% endblock %}